:root {
	--gradient: linear-gradient(
		106.37deg,
		#ffe1bc 29.63%,
		#ffcfd1 51.55%,
		#f3c6f1 90.85%
	);
	--primary: #a274a4;
	--glass: rgba(255, 255, 255, 0.54);
	--secondary: #f799a354;
	--font-color: #242d49;
	--headline: #fff;
	--btn-text: #fff;
	--main: #fff;
	--tertiary: #fff;
	--stroke: #fff;

	--orange: #fca61f;
	--black: #242d49;
	--gray: #788097;
	--purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
	--pink: #ff919d;
	--activeItem: #f799a354;
}
