@import url("http://fonts.cdnfonts.com/css/sf-mono");

:root {
	--font-body: "Inter", sans-serif;
	--secondary-font: "SF Mono", sans-serif;
}

$base-font: "Inter", sans-serif;
$secondary-font: "SF Mono", sans-serif;
